<?xml version="1.0" encoding="utf-8"?>
<!--
  ~ AndroidManifest.xml
  ~
  ~ Copyright (C) 2023-present, Celestia Development Team
  ~
  ~ This program is free software; you can redistribute it and/or
  ~ modify it under the terms of the GNU General Public License
  ~ as published by the Free Software Foundation; either version 2
  ~ of the License, or (at your option) any later version.
  -->

<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    android:installLocation="auto"
    android:versionCode="652"
    android:versionName="1.9.4">

    <uses-feature android:name="android.hardware.type.pc" android:required="false" />
    <uses-feature android:glEsVersion="0x00020000" android:required="true" />
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.HIGH_SAMPLING_RATE_SENSORS" tools:ignore="HighSamplingRate" />

    <application
        android:name=".CelestiaApplication"
        android:allowBackup="true"
        android:fullBackupContent="@xml/backup_rules"
        android:dataExtractionRules="@xml/extraction_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:largeHeap="true"
        android:hasFragileUserData="true"
        android:theme="@style/AppTheme"
        android:resizeableActivity="true"
        android:localeConfig="@xml/locales_config"
        android:enableOnBackInvokedCallback="true"
        tools:targetApi="tiramisu">

        <meta-data android:name="WindowManagerPreference:FreeformWindowSize"
            android:value="[phone|tablet|maximize]" />
        <meta-data android:name="WindowManagerPreference:FreeformWindowOrientation"
            android:value="[portrait|landscape]" />

        <activity
            android:name="space.celestia.mobilecelestia.MainActivity"
            android:configChanges="keyboard|keyboardHidden|mcc|mnc|navigation|orientation|screenLayout|screenSize|smallestScreenSize|touchscreen|uiMode|locale"
            android:launchMode="singleInstancePerTask"
            android:exported="true"
            android:windowSoftInputMode="adjustPan"
            tools:ignore="LockedOrientationActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.BROWSABLE" />
                <category android:name="android.intent.category.DEFAULT" />
                <data
                    android:scheme="content"
                    android:mimeType="*/*"
                    android:host="*" />
                <data android:pathPattern=".*\\.cel" />
                <data android:pathPattern=".*\\..*\\.cel" />
                <data android:pathPattern=".*\\..*\\..*\\.cel" />
                <data android:pathPattern=".*\\..*\\..*\\..*\\.cel" />
                <data android:pathPattern=".*\\..*\\..*\\..*\\..*\\.cel" />
                <data android:pathPattern=".*\\..*\\..*\\..*\\..*\\..*\\.cel" />
                <data android:pathPattern=".*\\.celx" />
                <data android:pathPattern=".*\\..*\\.celx" />
                <data android:pathPattern=".*\\..*\\..*\\.celx" />
                <data android:pathPattern=".*\\..*\\..*\\..*\\.celx" />
                <data android:pathPattern=".*\\..*\\..*\\..*\\..*\\.celx" />
                <data android:pathPattern=".*\\..*\\..*\\..*\\..*\\..*\\.celx" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data
                    android:scheme="cel"
                    android:host="*" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data
                    android:scheme="celaddon"
                    android:host="*" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data
                    android:scheme="celguide"
                    android:host="*" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data
                    android:scheme="celestia"
                    android:host="*" />
            </intent-filter>
            <intent-filter android:autoVerify="true">
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data
                    android:scheme="https"
                    android:host="celestia.mobi"
                    android:pathPattern="/resources/item" />
            </intent-filter>
            <intent-filter android:autoVerify="true">
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data
                    android:scheme="https"
                    android:host="celestia.mobi"
                    android:pathPattern="/resources/guide" />
            </intent-filter>
        </activity>
        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="space.celestia.mobilecelestia.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <service
            android:name="androidx.appcompat.app.AppLocalesMetadataHolderService"
            android:enabled="false"
            android:exported="false">
            <meta-data
                android:name="autoStoreLocales"
                android:value="true" />
        </service>

        <meta-data android:name="io.sentry.auto-init" android:value="false" />
    </application>

    <queries>
        <intent>
            <action android:name="android.intent.action.VIEW" />
            <data android:scheme="https" />
        </intent>
        <intent>
            <action android:name="android.intent.action.VIEW" />
            <data android:scheme="http" />
        </intent>
        <intent>
            <action android:name="android.intent.action.SENDTO" />
            <data android:scheme="mailto" />
        </intent>
        <intent>
            <action android:name="android.intent.action.SEND_MULTIPLE" />
        </intent>
        <intent>
            <action android:name="android.intent.action.OPEN_DOCUMENT"/>
        </intent>
        <intent>
            <action android:name="android.intent.action.OPEN_DOCUMENT_TREE"/>
        </intent>
    </queries>
</manifest>
